In [15]:
anotaciones = {"Curry" : [80, 50, 36, 48, 67, 98, 41, 52, 81, 74],
               "Lebron" : [50, 74, 21, 82, 57, 48, 38, 93, 81, 20],
               "Jokic" : [90, 26, 21, 48, 73, 49, 92, 74, 81, 73],
               "Thompson": [66, 92, 74, 40, 49, 26, 41, 84, 93, 71],
               "Green" : [71, 38, 19,84, 55, 97 , 84, 10, 26, 47],
               "Antetokompo" : [75, 63, 44, 61, 59, 48, 71, 88, 90, 22],
               "Adebayo" : [63, 40, 29, 22, 99, 94, 18, 15, 42, 92],
               "Davis" : [73, 57, 19, 39, 26, 77, 66, 81, 94, 72],
               "Butler" : [39, 90, 25, 60, 38, 37, 66, 19, 73, 10],
               "Tatum" : [70, 90, 21, 29, 39, 77, 56, 78, 90, 32],}

In [16]:
print(anotaciones)

{'Curry': [80, 50, 36, 48, 67, 98, 41, 52, 81, 74], 'Lebron': [50, 74, 21, 82, 57, 48, 38, 93, 81, 20], 'Jokic': [90, 26, 21, 48, 73, 49, 92, 74, 81, 73], 'Thompson': [66, 92, 74, 40, 49, 26, 41, 84, 93, 71], 'Green': [71, 38, 19, 84, 55, 97, 84, 10, 26, 47], 'Antetokompo': [75, 63, 44, 61, 59, 48, 71, 88, 90, 22], 'Adebayo': [63, 40, 29, 22, 99, 94, 18, 15, 42, 92], 'Davis': [73, 57, 19, 39, 26, 77, 66, 81, 94, 72], 'Butler': [39, 90, 25, 60, 38, 37, 66, 19, 73, 10], 'Tatum': [70, 90, 21, 29, 39, 77, 56, 78, 90, 32]}

In [17]:
import pandas as pd

In [18]:
jugadores = pd.DataFrame(anotaciones)

In [20]:
jugadores

,Curry,Lebron,Jokic,Thompson,Green,Antetokompo,Adebayo,Davis,Butler,Tatum
0,80,50,90,66,71,75,63,73,39,70
1,50,74,26,92,38,63,40,57,90,90
2,36,21,21,74,19,44,29,19,25,21
3,48,82,48,40,84,61,22,39,60,29
4,67,57,73,49,55,59,99,26,38,39
5,98,48,49,26,97,48,94,77,37,77
6,41,38,92,41,84,71,18,66,66,56
7,52,93,74,84,10,88,15,81,19,78
8,81,81,81,93,26,90,42,94,73,90
9,74,20,73,71,47,22,92,72,10,32